:root
{
    --dark-one: #333;
    --dark-two: #7a7a7a;
    --main-color: #4a66fb;
    --light-one: #fff;
    --light-two: #f9fafb;
    --light-three: #f6f7fb;
    --secondary: #c1c6cb;
}

body
{
    padding-top: 80px;
}

img 
{
    width: 100%;
    height: auto;
}

.work 
{
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
 