:root
{
    --dark-one: #333;
    --dark-two: #7a7a7a;
    --main-color: #4a66fb;
    --light-one: #fff;
    --light-two: #f9fafb;
    --light-three: #f6f7fb;
    --secondary: #c1c6cb;
}

img 
{
    width: 100%;
    height: auto;
}

.work 
{
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
 
.section
{
    padding: 7rem 0;
    overflow: hidden;
}

.portfolio
{
    position: relative;
    width: 100%;
    background-color: var(--light-two);
}

.background-bg
{
    position: absolute;
    width: 100%;
    height: 520px;
    top: 0;
    left: 0; 
    background-color: var(--main-color);
}