.filter
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-btn
{
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0.45rem 0.4rem;
    padding: 0.85rem 1.8rem ;
    color: var(--light-one);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1;
    cursor: pointer;
    border-radius: 2rem;
    transition: 0.3s;
}

.filter-btn.active
{
    background-color: var(--light-one);
    color: var(--main-color);
}